.homepage {
  background-color: #c3d8e9;
  min-height: 100vh;
}

.position-parent{
    position:relative;
}
.position-child {
  /* background-color: red; */
  position: relative;
  top: 27%;
}
.inline-class{
    display: inline;
    /* background-color: #E0E0E0; */
}